<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Panela<span>Tours</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Inicio</a>
      <a href="#">Contacto</a>
    </p>

    <p class="footer-company-name"></p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Calle 2 #3 - 23</span> Tobia, Colombia</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p> +57 321 395 4339</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">panelatours@gmail.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <div class="footer-icons">

      <a href="#"><img src="../../assets/facebook.png" class="redes"> </a>
      <a href="#"><img src="../../assets/free-instagram-85-433319.png" class="redes"> </a>

    </div>

  </div>

</footer>
