
<app-navbar></app-navbar>

<div class="container">
    <header>
        <h1>Explora Nuestros Emocionantes Planes de 2 Dias</h1>
    </header>

    <main>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/361650061_670376908447064_3818708141622499547_n.jpg" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">
                <div class="text-container">
                    <h2>Plan Cortero</h2>
                    <p><strong>Precio:</strong> $260.000 por persona</p>
                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Hospedaje:</strong> Noche en hostal, rodeado de comodidades.</li>
                        <li><strong>Alimentación:</strong> Desayuno y almuerzo para energizar tus días.</li>
                        <li><strong>Rafting:</strong> Aventúrate en 7 kilómetros de emocionante recorrido fluvial.</li>
                        <li><strong>Torrestismo:</strong> Experiencia de descenso en dos cascadas naturales.</li>
                        <li><strong>Circuito:</strong> Canopy, puentes y rapel para un día lleno de acción.</li>
                    </ul>
                    <p>Incluye caminata ecológica, fotos con GoPro, snack y acceso completo a
                        instalaciones.</p>
                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día \n Estoy interesado en el Plan \n Plan Cortero - Precio: $260.000 por persona - Incluye: Hospedaje, Alimentación, Rafting, Torrestismo, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>
                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/IMG_0274.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/IMG_0259.JPG" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/370255421_17981516003520049_5991147660374899337_n.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/336921447_908140687094712_8999431894861534911_n.jpg" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Molienda</h2>
                    <p><strong>Precio:</strong> $281.000 por persona</p>
                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Hospedaje:</strong> Sumérgete en la dulzura de la vida rural con una estancia única.
                        </li>
                        <li><strong>Tour Panelero:</strong> Una dulce aventura descubriendo el proceso de la panela.
                        </li>
                        <li><strong>Rafting:</strong> Navegación de 7 kilómetros a través de paisajes asombrosos.</li>
                        <li><strong>Caminata:</strong> Explora la belleza natural a lo largo de senderos ecológicos.
                        </li>
                    </ul>
                    <p>Completo con comidas autóctonas, snack, fotos con GoPro y comodidades del hostal.</p>

                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día \n Estoy interesado en el Plan \n Plan Molienda - Precio: $281.000 por persona - Incluye: Hospedaje, Tour Panelero, Rafting, Caminata, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg">
                        Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/290152305_455620519736166_2232455977457593055_n.jpg" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/370255421_17981516003520049_5991147660374899337_n.jpg" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/GOPR8504.JPG" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/IMG_0420.JPG" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Carguero</h2>
                    <p><strong>Precio:</strong> $500.000 por persona</p>
                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Rafting Dos Días:</strong> Desciende por 22 kilómetros de río con rápidos y calmas.
                        </li>
                        <li><strong>Alimentación:</strong> Comidas que reflejan la tradición local y un vino para cerrar
                            el día.</li>
                        <li><strong>Campamento en Hamaca:</strong> Descansa bajo las estrellas en plena naturaleza.</li>
                    </ul>
                    <p>Disfruta de la cultura del municipio, transporte interno, fogata nocturna y las amenidades del
                        hostal.</p>

                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día \n Estoy interesado en el Plan \n Plan Carguero - Precio: $500.000 por persona - Incluye: Rafting Dos Días, Alimentación, Campamento en Hamaca, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg">
                        Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/399620524_17991350444520049_5937100919735656230_n.jpg" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/429489762_18004744535520049_7318812013240605139_n.jpg" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/341175470_768935627889199_6649638930653627386_n.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/GOPR2181.JPG" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Arriero</h2>
                    <p><strong>Precio:</strong> $270.000 por persona</p>
                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Trekking y Rafting:</strong> Combina la caminata con la emoción del río.</li>
                        <li><strong>Hospedaje:</strong> Confortable estancia con desayuno y almuerzos incluidos.</li>
                    </ul>
                    <p>Descubre la historia local, sumérgete en piscinas naturales y disfruta de la hospitalidad de
                        Tobia.</p>

                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día \n Estoy interesado en el Plan \n Plan Arriero - Precio: $270.000 por persona - Incluye: Trekking y Rafting, Hospedaje, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg">
                        Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/IMG_7311.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/429489762_18004744535520049_7318812013240605139_n.jpg" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/369999451_17981516042520049_661118043276197229_n.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/290215098_455620513069500_8006768595587821429_n.jpg" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Fiambre</h2>
                    <p><strong>Precio:</strong> $350.000 por persona</p>
                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Canyoning Full Day:</strong> Un recorrido por 12 cascadas llenas de aventura.</li>
                        <li><strong>Tour Panelero:</strong> Aprende sobre la panela en un tour lleno de sabor e
                            historia.</li>
                    </ul>
                    <p>Esta experiencia también incluye hospedaje, alimentación, fotos de recuerdo y kit de hidratación.
                    </p>

                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día \n Estoy interesado en el Plan \n Plan Fiambre - Precio: $350.000 por persona - Incluye: Canyoning Full Day, Tour Panelero, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg">
                        Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/253806180_311435757487977_7586251579127086585_n.jpg" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/299026160_484547730176778_7000105395030203564_n.jpg" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/299543771_484547726843445_6679813673421284293_n.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>


    </main>
</div>

<app-footer></app-footer>