<app-navbar></app-navbar>

<div class="container">
    <header>
        <h1>Explora Nuestros Emocionantes Planes de 1 Día</h1>
    </header>

    <main>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/IMG_0420.JPG" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Pailero - Aventura Completa </h2>
                    <p> <strong>Precio</strong> $185.000 por persona</p>

                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Rafting:</strong> Disfruta de 7 kilómetros de emocionante recorrido por el río.</li>
                        <li><strong>Torrentismo:</strong> Atrévete a descender por dos cascadas naturales.</li>
                        <li><strong>Almuerzo:</strong> Recarga energías con una deliciosa comida incluida.</li>
                        <li><strong>Extras:</strong> Viaje redondo en tren, caminata ecológica, fotos de rafting con
                            GoPro, snack, y acceso a instalaciones (baños, duchas, vestieres).</li>
                    </ul>


                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día, estoy interesado en el Plan Pailero - Aventura Completa. Precio: $185.000 por persona. Incluye Rafting, Torrentismo, Almuerzo, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/IMG_0274.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/IMG_0299.JPG" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/almuerzo.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/almuerzo.jpg" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Pailero - Aventura Completa </h2>
                    <p> <strong>Precio</strong> $ 145.000 mil por persona</p>

                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Rafting y Torrentismo Bomba:</strong> 7 kilómetros de recorrido en el río.</li>
                        <li><strong>Circuito de Aventura:</strong> Canopy entre árboles, Puente Indiana Jones, Puente
                            Tibetano y Rappel al vacío.</li>
                        <li><strong>Almuerzo y Extras:</strong> Fotos con GoPro, snack, caminata ecológica, y más.</li>
                    </ul>



                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día, estoy interesado en el Plan Cortero. Precio: $260.000 por persona. Rafting y Torrentismo Bomba, Circuito de Aventura, Almuerzo y Extras, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/GOPR2364.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/GOPR2899.JPG" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/GOPR8502.JPG" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/361650061_670376908447064_3818708141622499547_n.jpg" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Melcocha - Naturaleza y Adrenalina</h2>
                    <p> <strong>Precio</strong> $135.000 por persona</p>

                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Rafting:</strong> Emocionante recorrido de 7 kilómetros.</li>
                        <li><strong>Circuito de Aventura:</strong> Entre árboles con vistas espectaculares y actividades
                            como Rappel.</li>
                        <li><strong>Almuerzo y Extras:</strong> Fotos con GoPro, snack, y comodidades.</li>
                    </ul>


                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día, estoy interesado en el Plan Melcocha - Naturaleza y Adrenalina. Precio: $135.000 por persona. Incluye Rafting, Circuito de Aventura, Almuerzo, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/GOPR2365.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/GOPR2353.JPG" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/GOPR8472.JPG" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/IMG_7228.JPG" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Gabera - Aventura Ecuestre </h2>
                    <p> <strong>Precio</strong> $127.000 por persona</p>

                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Cabalgata:</strong> Emocionante recorrido de 7 kilómetros.</li>
                        <li><strong>Circuito de Canopy y Rappel:</strong> </li>
                        <li><strong>Almuerzo y Extras:</strong> Una combinación perfecta de naturaleza y adrenalina.
                        </li>
                    </ul>


                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día, estoy interesado en el Plan Gabera - Aventura Ecuestre. Precio: $127.000 por persona. Incluye Cabalgata, Circuito de Canopy y Rappel, Almuerzo, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/IMG_6845.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/IMG_7253.JPG" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/almuerzo.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>

        <div class="day-plan">
            <div class="images-container">
                <img src="../../assets/Planes1/IMG_0420.JPG" alt="Vista principal de El Algarve" class="main-image">

            </div>

            <div class="contenido">

                <div class="text-container">
                    <h2>Plan Cuatrero - Adrenalina Pura </h2>
                    <p> <strong>Precio</strong> Canopy y Rafting</p>

                    <h3>Incluye:</h3>
                    <ul>
                        <li><strong>Cabalgata:</strong> Combina un emocionante recorrido en el río con la tirolesa más
                            alta de Sur América.</li>
                        <li><strong>Tobia Sky:</strong> Una experiencia de vértigo pendular a 120 metros de altura.</li>
                        <li><strong>Almuerzo y Extras:</strong> Fotos con GoPro, snack, y acceso a instalaciones.</li>
                    </ul>


                    <button class="whatsapp-btn"
                        (click)="sendWhatsAppMessage('Buen día, estoy interesado en el Plan Cuatrero - Adrenalina Pura. Incluye Cabalgata, Tobia Sky, Almuerzo, y más...')">
                        <img src="../../assets/Planes1/whatsapp_icon_138013.svg"> Contactar por WhatsApp
                    </button>

                </div>

                <div class="side-images">
                    <img src="../../assets/Planes1/IMG_6832.JPG" alt="Vista lateral de El Algarve 1" class="side-image">
                    <img src="../../assets/Planes1/313421242_543762564255294_4473206433124429373_n.jpg" alt="Vista lateral de El Algarve 2" class="side-image">
                    <img src="../../assets/Planes1/almuerzo.jpg" alt="Vista lateral de El Algarve 3" class="side-image">
                </div>
            </div>
        </div>


    </main>
</div>

<app-footer></app-footer>