<section class="inicio">
  <app-navbar></app-navbar>
  <div class="img">
    <h1 class="titulo">Vive una experiencia <br> inolvidable</h1>
  </div>
</section>

<div class="servicios">
  <h1 class="titulo">Servicios</h1>
  <div class="linea">
    <hr>
  </div>


  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/caballo.png" alt="cabalgata" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Cabalgata</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>

  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/kayak.png" alt="kayak" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Kayak</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>

  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/aventuras.png" alt="imagen1" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Tour Panelero</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>

  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/pendulo.png" alt="imagen1" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Sky Tobia</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>

  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/tour-a-pie.png" alt="imagen1" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Expedición Rio Negro</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>


  <div class="caja">
    <div class="imagenCaja">
      <img src="../../assets/kayac.png" alt="imagen1" class="imgCaja">
    </div>
    <div class="contenido">
      <div class="tituloCaja">
        <h3>Rafting</h3>
      </div>
      <div class="textoCaja">
        <p>Disfruta de un paseo a caballo por los hermosos paisajes de la sierra de Lima.</p>
      </div>
    </div>
  </div>
</div>

<div class="imagenesOpciones">
  <img src="../../assets/IMG_0603.JPG" alt="kayak" class="imgOp">
  <img src="../../assets/IMG_0662.JPG" alt="rio" class="imgOp">
  <img src="../../assets/IMG_6843.JPG" alt="cabalgata" class="imgOp">
  <img src="../../assets/IMG_7058.JPG" alt="rio2" class="imgOp">
  <img src="../../assets/GOPR8423.JPG" alt="rioextremo" class="imgOp">
  <img src="../../assets/IMG_7092.JPG" alt="extremo" class="imgOp">
  <img src="../../assets/IMG_20210615_120007735.jpg" alt="equipo" class="imgOp">
  <img src="../../assets/IMG_7304.JPG" alt="cañaying" class="imgOp">
</div>

<div class="about">
  <div class="aboutContent">
    <div class="info">
      <h2 class="titulo">Sobre la empresa</h2>
      <div class="linea">
        <hr class="linea2">
      </div>
      <p class="texto">Panela Tours es una empresa fundada por jóvenes apasionados que buscan brindar experiencias
        inolvidables en nuestro lugar de origen. Nos dedicamos a mostrar la magia de la naturaleza exuberante y los ríos
        de nuestra zona. Ofrecemos diversas actividades y recorridos, acompañados por guías expertos, para que nuestros
        visitantes disfruten de este paraíso natural. Únete a @panela.tours y descubre la auténtica belleza de nuestro
        destino. ¡Te esperamos para vivir momentos inolvidables!</p>
    </div>
    <div class="logo">
      <img src="../../assets/logo.png" alt="imagen1" class="imgLogo">
    </div>
  </div>
</div>

<app-footer></app-footer>